# Webhooks LeadConnector / GoHighLevel (GHL)
VITE_WEBHOOK_REGISTRO=https://services.leadconnectorhq.com/hooks/sZSqcOsIlHto63OiBVvI/webhook-trigger/mAhbHooYUtamnROiXEjy
VITE_WEBHOOK_CALIFICACION=https://services.leadconnectorhq.com/hooks/sZSqcOsIlHto63OiBVvI/webhook-trigger/pb5eVfAXZDx8YX2tBzLR

# Meta Pixel (Facebook Pixel ID)
VITE_PIXEL_ID=

